<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room add</title>
</head>
<body>
<form method="post" action="add">

  새로운 스터디 룸 이름 : <input type="text" name = "add_name">
  <br><br>
  새로운 스터디 룸 수용 가능 인원 : <input type="number" name = "add_person">
  <br><br>
  새로운 스터디 룸 시간 당 요금 : <input type="number" name = "add_price">
  <br><br>
  새로운 스터디 룸 설명 : <input type="text" name = "add_information">
  <br><br>
  <button type="submit">스터디룸 추가</button>

</form>
</body>
</html>