<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change Review Page</title>
</head>
<body>

<form method="post" action="change">

  <h1 th:text="${roomName} + ' 룸 리뷰 수정 페이지'"></h1>
  <br><br><br><br>
  <h2>리뷰 수정하기</h2>


  <textarea cols="50" rows="8" th:text="${roomInformation}" name="roomInformation">


  </textarea>
  <input type="hidden" name="roomName" th:value="${roomName}">
  <br>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <button type="submit">수정 완료</button>
</form>




</body>
</html>