<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Main</title>
</head>
<body>

<h1>관리자 메인 페이지 입니다. 스터디 룸 추가 및 삭제와 설명 추가를 할 수 있습니다.</h1>

<table class="room">
    <p>
        <tr>
            <td>id</font></td>
            <td></td>
            <td>이름</td>
            <td></td>
            <td>수용 인원</td>
            <td></td>
            <td>가격</td>
            <td></td>
            <td>설명</td>



        </tr>

        <tr th:each="room : ${room}">
            <td th:text="${room.roomId}"></td>
            <td></td>
            <td th:text="${room.roomName}"></td>
            <td></td>
            <td th:text="${room.roomPerson}"></td>
            <td></td>
            <td th:text="${room.roomPrice}"></td>
            <td></td>
            <td th:text="${room.roomInformation}"></td>
            <td></td>

        </tr>
</table>


<br>

<button type="submit" onclick="location.href='/admin/add'">스터디룸 추가</button>

<br>
<form method="post" action="admin/remove">
  <input type="text" name = "remove_name">
  <button type="submit">스터디룸 제거</button>


</form>

<br>
<form method="get" action="admin/change">
  <input type="text" name = "change_name">
  <button type="submit">스터디룸 설명 변경</button>

</form>

</body>
</html>