<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Main</title>
</head>
<body>

<h1>관리자 메인 페이지 입니다. 스터디 룸 추가 및 삭제와 설명 추가를 할 수 있습니다.</h1>

<h2>타임리프를 통해 현재 존재하는 방을 출력해줄 예정</h2>


<br>

<button type="submit" onclick="location.href='/admin/add'">스터디룸 추가</button>

<br>
<form method="post" action="admin/remove">
  <input type="text" name = "remove_name">
  <button type="submit">스터디룸 제거</button>


</form>

<br>
<form method="get" action="admin/change">
  <input type="text" name = "change_name">
  <button type="submit">스터디룸 설명 변경</button>

</form>

</body>
</html>